- require('bootstrap/less/bootstrap.less');
- require('bootstrap/js/dropdown.js');
- require('bootstrap/js/button.js');
- require('bootstrap/js/collapse.js');
- require('bootstrap/js/tab.js');

nav.navbar.navbar-default.navbar-top
    .container
        .navbar-header
            a.navbar-brand(href="#") BSVE
            ul.nav.navbar-nav
                li: a(href="#").buttons.button-home Home
                li: a(href="#").buttons.button-test1 Test1

.container
    .row
        .col-md-8
            .page-header
                h1
                    | REST API utilities
        .col-md-4
            .page-header
                h1
                    | Test area
